@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

@font-face { 	
	font-family: "Lequire";  	
    src: url("../images/Lequire.otf") format("opentype")

}

html{
    position: relative;
    /* height: 100%; */
    /* width:100% */
}

body{
    position: relative;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-image: linear-gradient(to bottom, #b0ca87 , white);
    font-family:"roboto";
    color: #2f3640;
    margin: 0 30px;
    padding:0;
    /* width:100% */
    }

@media screen and (min-width: 768px) {
        body {
            margin: 0 50px;
          }
}

main{
    position: relative;
    box-sizing: border-box;
    width:100%;
    font-size:18px;
}

header {
    position: relative;
    top: 0;
    left:0;
    /* box-sizing: border-box; */
    padding-top: 50px;
    /* width:100%; */
    /* line-height:100%; */
    color: white;
    /* text-align: center; */
    z-index:2;
  }

header img {
    width:75%;
    transition: height 1s, transform 1s;
}

header img:hover {
    transform: rotate(360deg);
  }

@media screen and (min-width: 768px) {
    header img {
        width:45%
    }

}


#login{
    
    font-weight: bold;
    margin-top:15px
}

@media screen and (min-width: 768px) {
#login{
    position:relative;
    float:right;
    font-weight: bold;
    margin-right: 50px;
}
}

#password {
    display: block;
    /* margin-top:5px; */
}


@media screen and (min-width: 768px) {
#password {
    display: inline;
    /* margin-top:5px; */
}
}

#login{
    display:flex;
}

#login input{
    border-radius:5px;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    
    flex-direction: row;
}
}

#login p {
    text-align:left
}

@media screen and (min-width: 768px) {
    #login p {
        text-align:right }
}

main{
    margin-top:50px;
    margin-bottom:200px

}

@media screen and (min-width: 768px) {
    margin-top:50px;
    margin-bottom:200px }

section{
    margin-top:20px;
}


main nav {
    position: fixed;
    bottom: 80px;
    left: 0;
    /* box-sizing: border-box; */
    width:100%;
    background-color:white;
    /* line-height:100%; */
    color:#fca9ab;
    text-align: center;
    }
    
main nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width:100vw;
    padding: 0;
    overflow: hidden;
    /* background-color: #ffffff; */
    float: center;
}
    
main nav li {
    list-style-type: none;
    margin:0;
    width:100%;
    line-height:100%;
    float: center;
    }
    
@media screen and (min-width: 768px) {
main nav li {
        list-style-type: none;
        margin:0;
        width:100%;
        float: center;
}}
    
main nav li a {
    box-sizing: border-box;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight:bold;
    text-transform: uppercase;
    height:100%;
    padding:5%;

}

    
main nav li a:hover {
    background-color:#809848;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    /* box-sizing: border-box; */
    width:100%;
    background-color:#442220;
    /* line-height:100%; */
    color: white;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    /* box-sizing: border-box; */
    width:100%;
    background-color:#442220;
    /* line-height:100%; */
    color: white;
    text-align: center;
}
  
footer nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width:100vw;
    padding: 0;
    color:white;
    overflow: hidden;
    /* background-color: #ffffff; */
    float: center;
}
  
footer nav li {
    list-style-type: none;
    margin:0;
    width:100%;
    line-height:500%;
    float: center;
  }


  
footer nav li a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight:bold;
    text-transform: uppercase;
  }

footer nav li a:hover {
    background-color:#b0ca87;
  }

  
a:link {
    text-decoration: none;
    color:inherit;
}

a:visited {
    text-decoration: none;
    color:inherit;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

h1{
    font-family: "Merriweather Sans";
    color:#442220;

}

img{
    border-radius:10px;
}

.green{
    color: #b0ca87;
    font-weight: bold;
}

.splash{
    background-color: white;
    border-radius:5px;
    padding:20px;
    padding-left:40px;

}

#check section{
    background-color:white;
    border-radius: 5px;
    padding:5%;
}

@media screen and (min-width: 768px) {
#check section{
width:30%}
}


#check img{
width:100%
}

.checkout a{
padding:10px;
background-color: #442220;
color:white;
text-align: center;
border-radius: 5px;
font-weight:bold;

}

.checkout a:hover{
    background-color:#b0ca87;
}


.checkout input [type=submit]{
    padding:1%;
    background-color: #442220;
    color:white;
    text-align: center;
    border-radius: 5px;
    font-weight:bold;
    
}

